/* banner */
.banner {
    height: 840px;
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary-dark;
    @include pad() {
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner-sm.png");
    }
    @include mobile() {
        height: 394px;
    }
    h1 {
        font-size: 64px;
        @include pad() {
            font-size: 48px;
        }
        @include mobile() {
            font-size: 32px;
            line-height: 72px;
        }
    }
    h2 {
        font-size: 36px;
        @include pad() {
            font-size: 20px;
        }
        @include mobile() {
            font-size: 16px;
            line-height: 30px;
        }
    }
}
.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: right;
}

/* about */
.about {
    background-color: $primary-light;
    padding-top: 60px;
    padding-bottom: 80px;
    @include pad() {
        padding-top: 40px;
        padding-bottom: 36px;
    }
    @include mobile() {
        padding-top: 32px;
        padding-bottom: 48px;
    }
    h2 {
        text-align: center;
        font-size: 48px;
        margin-bottom: 44px;
        @include pad() {
            font-size: 32px;
            margin-bottom: 12px;
        }
        @include mobile() {
            font-size: 24px;
        }
    }
}
.about-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-item {
    width: 24%;
    padding: 16px 37px 24px 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include pad() {
        width: 49%;
        padding: 20px 50px 8px 50px;
        margin-bottom: 12px;
    }
    @include mobile() {
        width: 100%;
        padding: 20px 64px 8px 64px;
        margin-bottom: 0;
    }
    .imgWrapper {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        @include pad() {
            width: 80px;
            height: 80px;
            margin-bottom: 16px;
        }
    }
    h6 {
        font-size: 24px;
        margin-bottom: 4px;
        @include pad() {
            font-size: 20px;
            margin-bottom: 8px;
        }
    }
}

/* 經典系列鏡框 */
.classic {
    padding-top: 64px;
    padding-bottom: 48px;
    @include pad() {
        padding-top: 40px;
        padding-bottom: 32px;
    }
    @include mobile() {
        padding-top: 24px;
        padding-bottom: 16px;
    }
    h2 {
        text-align: center;
        font-size: 48px;
        margin-bottom: 60px;
        @include pad() {
            font-size: 32px;
            margin-bottom: 32px;
        }
        @include mobile() {
            font-size: 24px;
            margin-bottom: 16px;
        }
    }
    .imgWrapper {
        width: 61%;
        height: 320px;
        @include pad() {
            width: 55%;
            height: 168px;
        }
        @include mobile() {
            width: 100%;
            height: 134px;
        }
    }
}
.classic-glasses {
    li {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        @include pad() {
            margin-bottom: 8px;
        }
        @include mobile() {
            position: relative;
        }
    }
    li:nth-child(even) {
        flex-direction: row-reverse;
        @include pad() {
            flex-direction: row;
        }
    }
    a {
        display: block;
        height: 100%;
    }
}
.classic-optical .imgWrapper {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-1.png");
}
.classic-sunglasses .imgWrapper {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-2.png");
}
.classic-sunglasses .imgWrapper:hover {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-2-color.png");
}
.classic-functional .imgWrapper {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-3.png");
}
.classic-title-sm {
    display: none;
    height: 100%;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    @include mobile() {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.classic-title {
    display: flex;
    align-items: center;
    // width: 33%;  //This attribute makes title collide with picture. But why did I add it?
    padding-left: 24px;
    padding-right: 24px;
    @include pad() {
        justify-content: center;
        width: 45%;
        padding-left: 0;
        padding-right: 0;
    }
    @include mobile() {
        display: none;
    }
    h3 {
        color: $primary;
        font-size: 48px;
        text-transform: uppercase;
        @include pad() {
            font-size: 28px;
        }
    }
}
.classic-title-icon {
    margin-right: 8px;
    @include pad() {
        max-width: 32px;
        max-height: 32px;
    }
}

/* 顧客推薦 */
.recommendation h2 {
    font-size: 48px;
    margin-bottom: 60px;
    color: #000;
    text-align: center;
}
.recommendation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mobile() {
        justify-content: center;
    }
}
.recommendation-list li {
    width: 23%;
    max-width: 324px;
    @include pad() {
        width: 48%;
        margin-bottom: 16px;
    }
    @include mobile() {
        width: 100%;
    }
}
.recommendation-textSection {
    padding: 16px;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
.recommendation .name {
    line-height: 21px;
    margin-bottom: 16px;
}
.recommendation .recContent {
    margin-bottom: 16px;
}
.recommendation .lastUpdatedTime {
    line-height: 21px;
    color: #707070;
}

/* 聯絡我們 */
.contact {
    background-color: $primary-light;
    padding-top: 64px;
    padding-bottom: 92px;
    @include pad() {
        padding-top: 40px;
        padding-bottom: 56px;
    }
    @include mobile() {
        padding-top: 24px;
        padding-bottom: 48px;
    }
    h2 {
        text-align: center;
        font-size: 48px;
        margin-bottom: 24px;
        @include pad() {
            font-size: 32px;
            margin-bottom: 16px;
        }
        @include mobile() {
            font-size: 20px;
            line-height: 48px;
            margin-bottom: 8px;
        }
    }
    p {
        font-size: 20px;
        margin-bottom: 20px;
        @include pad() {
            font-size: 16px;
            margin-bottom: 16px;
        }
        @include mobile() {
            margin-bottom: 8px;
        }
    }
}
.contact-container {
    max-width: 792px;
    margin: 0 auto;
    @include pad() {
        max-width: 498px;
    }
    @include mobile() {
        padding-left: 24px;
        padding-right: 24px;
    }
}
.inputGroup {
    margin-bottom: 16px;
    @include pad() {
        margin-bottom: 12px;
    }
    .inputDesc {
        display: block;
        margin-bottom: 4px;
    }
    input[type="text"], textarea {
        display: block;
        width: 100%;
        padding: 16px 14px;
        border: 1px solid #000;
    }
}
.checkboxGroup {
    margin-bottom: 42px;
    @include pad() {
        margin-bottom: 24px;
    }
    @include mobile() {
        margin-bottom: 20px;
    }
}
.submitButton {
    display: block;
    width: 180px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    background-color: $primary;
    color: #fff;
    @include pad() {
        width: 136px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}
